@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
	width: 100%;
	height: 100%;
	background: linear-gradient(
		45deg,
		#f17c58,
		#e94584,
		#24aadb,
		#27dbb1,
		#ffdc18,
		#ff3706
	);
	background-size: 600% 100%;
	animation: gradient 16s linear infinite;
	animation-direction: alternate;
}
@keyframes gradient {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 100%;
	}
}

.banner03 {
	background-image: linear-gradient(#27dbb1, #24aadb);
	height: 100%;
	width: 100%;
}

.banner04 {
	background-image: linear-gradient(to right, violet, darkred, purple);
	height: 100%;
	width: 100%;
}

.fadeLeftMini {
	animation: fadeLeftMini 1s;
	animation-fill-mode: both;
}

.fadeRightMini {
	animation: fadeRightMini 1s;
	animation-fill-mode: both;
}

@keyframes fadeLeftMini {
	0% {
		opacity: 0;
		transform: translate3d(-40%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translateZ(0);
	}
}

@keyframes fadeRightMini {
	0% {
		opacity: 0;
		transform: translate3d(40%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translateZ(0);
	}
}

body {
	font-family: 'Montserrat', sans-serif;
}
